body{
	background:#fff;
}

.blog-title{
	padding:0px !important;
	margin-bottom: 0px !important;
	margin-top: 4px;
}

.title-image{
	padding: 0px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.title-image img{
	height: 42px !important;
	width: 42px !important;
	margin: 5px; 
}
.title-content{
	font-family: "NunitosansB" !important;
	color: #9b9b9b !important;
}
.title-content a{
	color: #9b9b9b !important;
	font-size: 12px;
	font-family: "NunitosansB";
}
.title-content h6{
	display: inline-block;
	font-family: "NunitosansB" !important;
	color: #9b9b9b !important;
}
.time{
	font-size: 12px;
	font-family: "NunitosansR";
	color: #293b52;
}
.card a:hover{
	text-decoration: none;
	opacity: 0.9;
}

.card-image-replaced{
	margin-bottom: 36px; 
	height: 200px !important;
}
.card{
	padding:2% 0% 1% 0% ;
	background-color:#F9F9F9 !important;
	margin: 8px auto;
	max-width: 840px;
	border-radius: 0px !important;
	/*border-style: solid;
	border-color: #293B52;*/
	border-bottom: solid 1px #e6e6e6;
}
.card-image img{
	/*margin-top: 20px !important;*/
	width:100% !important;
	overflow: hidden !important;
}
 .card-content{
 	padding: 4px 0px 20px 0!important; 
 }

 .card-image{
 	overflow: hidden !important;
 	position: absolute!important;
	height: 230px !important;
	top:2px;
	left: 2px;
	right: 2px;
 }
.card-description{
	padding-top: 8px; 
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-family: "NunitosansR" !important;
	line-height: 1.4;
	color:#9B9B9B !important;
}
.read-more{
	padding-top: 16px;
}
/*.read-more a{
	color: #50e3c2 !important;
	text-decoration: none;
}
*/
.card-title a{
  font-family:"Playfair" !important;
  font-size:32px !important;
  color:#293b52 !important;
  margin-top:16px;
  line-height: 1.2;
}

.time{
	letter-spacing: 1px;
}


.card{
	border-width: 2px;
	box-shadow: none!important;
}
.read-btn{
	font-family: "Bebas";
	font-weight: 700;
	font-size: 16px !important;
	color: #293B52;
	padding: 6px 4px;
}
.read-btn:hover{
	text-decoration: underline;
	color: #293B52;
}
.page-num{
padding: 0px 12px;
}
.pagination-wrapper{
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}
.pagination-link a{
  display:block;
  padding-top: 22px;
  color: #039be5;
}
.text-right{
  text-align: right;
}
.w100 {
width: 100%;
}
