.main-image{
	height:100vh;
	display: inherit;
	background-image:linear-gradient(to right, #293b52 0%, #293b52 50%,#293b52 50%,#F8D16C 50%,#f8d16c 100%);
	width: 100%;
}

/*.main-title{
	font-family: "NunitosansEB";
	font-size: 58px;
	letter-spacing: 2px;
	line-height: 1.2;
	padding-bottom: 12px;
	margin-top: 36px;
}
*/
.img-intro-card{
	margin-top: -350px;
	background: rgba(255,255,255,1);
	
    border: solid 2px #000;
    text-align: center;
}
.title-card{
	margin: 96px auto 48px auto;
	font-size: 32px;
	color: #3b3736;
	font-family: "Expressa-Serial-Regular";
	line-height: 1.5;
}

.content-card{
	font-size: 20px;
	line-height: 2;
	font-family: "NunitosansB";
	color: #293B52;
	width: 40%;
	margin: 72px auto 72px auto;

}

@media (max-width:1024px){
	.img-intro-card{
		margin-top: -250px;
	}
	.content-card{
		width: 70%;
	}
}

.proj-title{

	margin: 96px auto 36px auto;
	font-size: 32px;
	color: #3b3736;
	font-family: "Playfair";
	display: inline-block;
}
 

.who-we-are{
	font-family: "Nunitosans";
	font-size: 28px;
	color: #a0a0a0;
	margin: 96px auto 48px auto;
}

.who-we-are-content{
	font-size: 18px;
	margin: auto 25% 3% 25%;
	font-family: "NunitosansSB";
	line-height: 2.2;
	color: #4a4a4a;
}
.title{
	margin: 0px auto 36px auto;
	font-size: 32px;
	color: #3b3736;
	font-family: "Playfair";
}
.heading-bottom{
	width: 150px;
    color: #F8D16C;
    border: solid 3px;
    margin-top: -24px;

}
.content{
	font-size: 20px;
	margin:  10%;
	line-height: 2;
	font-family: "NunitosansSB";
	color: #293B52;
	vertical-align: center;
}

.blog-content{
	font-size: 20px;
	margin:  5%;
	line-height: 2;
	font-family: "NunitosansSB";
	color: #293B52;
	vertical-align: center;
}

.title-projects-button a{
	background-color: #4fe3c1;
	padding: 14px 56px;
	border-radius: 32px;
	color: #fff;
	font-size: 16px;
	font-family: "NunitosansEB";
}
.block{
	margin-bottom: 4%;
}

.whats-new{
	padding-top: 76px;
	padding-bottom: 56px;
	font-size: 20px;
	color: #3b3736;
	font-family: "NunitosansEB";
	background-color: #f5f5f5;
}
.whats-new-content{
	font-size: 18px;
	padding: 0px 25% 3% 25%;
	font-family: "NunitosansSB";
	line-height: 2.2;
	color: #4a4a4a;
	background-color: #f5f5f5;
}
.projects-list-block{
	background-color: #f5f5f5;
}
.title-blogs{
	margin: 96px auto 36px auto;
	font-size: 20px;
	color: #3b3736;
	font-family: "NunitosansEB";
}
.title-blog-content{
	font-size: 18px;
	margin:  10%;
	line-height: 2.4;
	font-family: "NunitosansB";
	color: #4a4a4a;
}
.title-blogs-button a{
	background-color: #4fe3c1;
	padding: 14px 56px;
	border-radius: 32px;
	color: #fff;
	font-size: 16px;
	font-family: "NunitosansEB";
}
.team-members-content{
	font-size: 18px;
	padding: 0px 25% 1% 25%;
	font-family: "NunitosansSB";
	line-height: 2.2;
	color: #4a4a4a;
}
.team-members a{
	margin-top: 22px;
	font-family: "NunitosansEB";
	font-size: 18px;
	color: #4fe3c1;
	margin-bottom: 64px;
}
.team-members{
	padding-top:12px;
	padding-bottom: 16px; 
}
.team-image img{
	margin-top: 96px;
}
.image-box-landing img{
	width: 100%;
	padding: 32px;
	border-radius: 40px;
}
.padded {
	padding-left: 48px;
	padding-right: 48px;
}
.p-48{
	padding:48px;
}
.image-box-landing{
	background-position: center;
	background-size: cover;
	width:100%;
	border-radius: 8%;
	overflow:hidden	;
}
.carousel-item{
	display: block!important;
}
.card{
	width: 800px !important;
	padding: 8% 10% 3% 10% !important;
	margin-top: -80px !important;;
	margin-left: -300px !important;
	height: 310px;
	 
}
/* .carousel .carousel-item {
     width: 200px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -19%;
} */
.read-more{
	    display: inline-block !important;
    margin-top: 12px !important;
    padding-top: 30px !important;
    position: absolute !important;
    bottom: 24px !important;
}
.carousel-button{
	background: transparent;
	border:0px;
}
.carousel{
	margin:0px; 
}
button:focus {
    outline: none;
    background-color: transparent;
}
.fa{
	color:#cbcbcb;
}

.user-select{
	-webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;
  user-select: none;

}
.custom-tile{
  margin:0 auto;
	width:250px;
	height:250px;
	background-size:contain;
	background-repeat: 	no-repeat;
	overflow: 	hidden;	
	display: flex;
	flex-direction: column;	
	justify-content: 	center;	
	text-align: right;
}
section{
	background-image:linear-gradient(to right, #f8d16c 0%, #f8d16c 80%,#f8d16c 80%,#e9e9e9 80%,#e9e9e9 100%);
	margin-top: 48px;
	height: 70vh;
}
.project-tile-title{
	font-size: 28px;
    color: #293B52;
    margin-top: 0;
    font-family: "Playfair";
}
.project-detail-short{
	font-size: 18px;
	margin:0;
	line-height: 2;
	color: #293B52;
}
.custom-tile:hover{
	opacity: 0.99;
	cursor: pointer;
}
.center-flex{
	display: flex;
  align-items: center;
  overflow: hidden;
}
.main-title{
	font-size: 72px;
    color: #3b3736;
    margin-top: 0;
    font-family: "Playfair";
    color:#f8d16c;
    padding:10px;
    background-image:linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 80%,rgba(255,255,255,0.2) 80%,transparent 80%,transparent 100%);
    display: 	inline;
    line-height: 2;
}
.trending-title{
	font-size: 64px;
    color: #3b3736;
    margin-top: 96px;
    font-family: "Playfair";
    color:#ffffff;
    padding:10px;
    background-image:linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 80%,rgba(255,255,255,0.2) 80%,transparent 80%,transparent 100%);
}
.content-main{
	font-size: 20px;
	line-height: 2;
	color:#fff;
}

@media(max-width: 640px){
	.m-t-mobile{
    margin-top: 60px;
  }
  .main-title{
		font-size: 48px;
	}
	.trending-title{
		font-size: 48px;
	}
	.custom-tile{
		margin-top: 48px;
	}
	/*img{
		margin-top: 48px;
		width: 250px;
		height: 180px;
	}*/
	.b-image{
		width: 200px;
	}
	.bg-image{
    display: none;
	}
	.top-nav .material-icons{
    color:#fff!important;
	}
	.on-scroll .material-icons{
		color:#000!important;
	}
	.landing .side-nav li a{
		color:#000;
	}
	.landing .side-nav{
		padding: 24px 0;
	}
}
.trending{
	color: #293B52;
	font-family: "NunitosansSB";
	font-size: 24px;
}
.space{
	padding-top: 25px;
	padding-bottom: 25px;
}
@media(max-width: 640px){
	.bg-image{
		width:0px;
	}
}
.project-img, .blog-img{
	width: 250px;
}
