.profile-pic-div
{
	/*border-radius:50%;*/
	height:180px;
	width: 180px;
	overflow: hidden;
}
.profile-pic-div-overlap{
	height:192px;
	width: 192px;
	border: 2px solid #293b52;
	padding: 4px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.profile_pic{
	width: 200px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);

}
.person-name{
	font-family: "Playfair";
	font-size: 24px;
	color: #293b52;
}
.person-batch{
	font-size: 14px;
	color: #777;
	font-family: "NunitosansB";
	margin-bottom: 12px;
	margin-top:12px;
}
.fa-2x{
	font-size: 24px;
}
.w-100{
	width:100%;
}
.p-80{
	padding: 60px 60px 80px 60px !important;
}
.profile-hr{
	margin: 34px 76px;
	border: #eee solid 0.5px;
}
.person-desc{
	font-size: 16px;
	letter-spacing: 0.5px;
	font-family: "NunitosansR" !important;
	line-height: 1.8;
	color: #293b52 !important;
	margin-bottom: 	48px;
	margin-left: 0px;
	margin-right: 0px;
}

.fa{

}

.view-blogs, .view-projects{
	width: 	50%;
}
.view-blogs-o, .view-projects-o{
	width: 	100% !important;
}
/*.btn-large:hover, .btn-large.active{
	border: 0px;
	text-decoration: none;
	background-color: #50e3c2;
	color:#fff;
	box-shadow: none;
}*/
.buttons-div{
	margin: 32px 0;
}
.blog-list, .project-list{
	display: none;
}

.blog-list ol li{
	text-align:left;
	color:#293b52 !important; 
	margin: 4px 0;
}
.blog-list ol{
	font-size: 16px;
	font-family: "Playfair";
	color: #293b52;
	margin-left: 11%;

}
.blog-list a{
	text-align: left;
	text-decoration: none;
	font-size: 16px;
	font-family: "Playfair";
	color:#293b52 !important; 	
	padding: 18px 10px;
}
.project-list ol li{
	text-align:left;
	color:#293b52 !important;
	margin: 4px 0;
}
.project-list ol{
	font-size: 16px;
	font-family: "Playfair";
	color: #293b52;
	margin-left: 61%;
}
.project-list a{
	text-align: left;
	text-decoration: none;
	font-size: 16px;
	font-family: "Playfair";
	color:#293b52 !important;
	padding: 18px 10px; 	
}
ol li{
	opacity: 0;
}
ol{
}

.web-links a img{
  height: 22px !important;
  padding-left:32px;
  margin-top:32px;
  transition: all 0.2s;
}

.web-link-icon {
  color: #293b52;
  border: 0px;
}

.web-links a img:hover{
	opacity: 0.95;
	transition: all 0.2s;
}
@media(max-width: 768px){
  .project-list ol{
    margin-left : 11%;
  }
  .button-margin{
    margin-bottom: 10px;
  }
}
